:root {
    --fonte: Verdana, Geneva, Tahoma, sans-serif;
    --v: #CB0017;
    --w: #F8F8F8; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    padding-top: 1.875rem;
    font-family: var(--fonte);
    scroll-behavior: smooth;
}

main {
    display: block;
}

.top-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3125rem;
    background-color: red;
    z-index: 1000;
}

header {
    position: fixed;
    top: 0.3125rem;
    left: 0;
    width: 100%;
    height: 3.75rem;
    border-top: 0.25rem solid white;
    z-index: 100;
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header nav {
    width: 100%;
    height: 3.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.5rem;
    justify-content: right;
    width: 90%;
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.3125rem 0.625rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li:hover a {
    color: red;
    border-radius: 0.3125rem;
}

header nav ul li#logo{
    position: absolute;
    top: 0.625rem;  
    left: 0.625rem;
}

header nav ul li#logo img{
    width: 4.0625rem;
    height: auto;
}  
/* Cabeçalho do site ate aqui */

.jogo-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.125rem;
    font-size: 1rem;
    font-weight: bold;
}

.info-antes {
    justify-content: left;
    text-align: right;
    padding: 0 1.875rem;
}

.info-depois {
    justify-content: right;
    text-align: left;
    padding: 0 1.875rem;
}

.prox {
    margin-bottom: 0.3125rem;
}

.camp {
    color: red;
    margin-top: 0.3125rem;
}

.data {
    margin-bottom: 0.3125rem;
}

.estadio {
    color: red;
    margin-top: 0.3125rem;
}

.logo-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.versus {
    font-size: 1.25rem;
}

.logo-sp {
    width: 2.8125rem;
    height: auto;
}

.logo-gremio {
    width: 3.75rem;
    height: auto;
} 
/* Proximos jogos ate aqui */

section#noticias{
    background: var(--w);
    width: 100%;
    margin-top: 1.25rem;
}

.noticia { 
    padding: 1.875rem 5.625rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.titulo-noticia {
    margin-bottom: 1.25rem;
}    

.noticias-conteudo {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
}

.noticia-principal {
    width: calc(50% - 1.25rem);
    height: 26.5625rem;
    margin: 0.6875rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.noticia-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.noticia-principal-txt {
    width: 100%;
    padding: 1.25rem 1.875rem;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-image: linear-gradient(to top, #0e0f12, #0e0f12f2, #0e0f1200);
}

.noticia-principal-txt h3 {
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
}

.noticia-principal-txt p {
    margin-bottom: 1.25rem;
}

.noticia-secundaria {
    background: #FFFFFF;
    width: calc(25% - 1.25rem);
    margin: 0.6875rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.noticia-secundaria-img {
    width: 100%;
    height: 13.125rem;
    overflow: hidden;
    margin-bottom: 1.5625rem;
}

.noticia-secundaria-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.3s ease;
}

.noticia-secundaria:hover img,
.noticia-principal:hover img {
    transform: scale(1.05);
}

.noticia-secundaria-txt {
    padding: 0 1.25rem 1.25rem;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.noticia-secundaria-txt h3 {
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: var(--v);
}
/* Noticias ate aqui */

section#calendario {
    width: 100%;
    margin-top: 1.25rem;
}

.carrossel-calendario {
    padding: 1.875rem 5.625rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.calendario-titulo {
    margin-bottom: 1.875rem;
}

.proximos-jogos {
    position: relative;
    overflow: hidden;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.6s ease-in-out;
}

.slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.875rem;    
    box-sizing: border-box;
}

.jogo-card {
    border-radius: 0.9375rem;
    padding: 1.25rem;
    width: 18.75rem;
    text-align: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.jogo-card img {
    height: 3.125rem;
    margin: 0.625rem;
}

.duelo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    margin: 0.625rem 0;
}

.duelo .x {
    font-size: 1.25rem;
    font-weight: bold;
}

.jogo-card .local {
    color: red;
    font-weight: bold;
    margin-top: 0.625rem;
}

.jogo-card h4 {
    margin: 0.625rem 0 0.3125rem;
    color: #333;
}

.jogo-card p {
    margin: 0.3125rem 0;
    color: #444;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-33.333%);
}

#slide3:checked ~ .slides {
    transform: translateX(-66.666%);
}

.setas {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.setas label {
    background-color: red;
    color: white;
    padding: 0.9375rem;
    cursor: pointer;
    font-size: 1.5625rem;    
    user-select: none;
    z-index: 10;
    display: none;
}

.setas label:hover {
    background-color: black;
}

.setas .voltar {
    border-radius: 0 0.3125rem 0.3125rem 0;
}

.setas .proximo {
    border-radius: 0.3125rem 0 0 0.3125rem;
}

#slide1:checked ~ .setas .voltar[for="slide3"],
#slide1:checked ~ .setas .proximo[for="slide2"] {
    display: block;
}

#slide2:checked ~ .setas .voltar[for="slide1"],
#slide2:checked ~ .setas .proximo[for="slide3"] {
    display: block;
}

#slide3:checked ~ .setas .voltar[for="slide2"],
#slide3:checked ~ .setas .proximo[for="slide1"] {
    display: block;
}
/* Calendario de jogos ate aqui */

section#galeria-titulos {
    width: 100%;
    margin-top: 1.25rem;
}

.conquistas {
    padding: 1.875rem 5.625rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.galeria-titulo {
    margin-bottom: 1.25rem;
}

.galeria-conquistas {
    display: flex;
    gap: 4.375rem;
}

.conquistas-img {
    display: initial;
    flex: 1 1 0;
    overflow: hidden;
    border-radius: 1rem; 
    object-fit: cover;   
}

.titulos-conquistas {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
}

.titulo-item {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: flex-start;
    list-style: none;   
}

.titulo-lista {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.375rem;
}

.titulo-cont {
    position: relative;
    overflow: hidden;
    user-select: none;
}

.titulo-icone {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    height: 2.8125rem;
    margin-block-end: 0.1875rem;
}

.titulos-img {
    height: 2.5rem;
    width: auto;
}

.titulo-nome {
    font-size: 0.75rem;
    color: #4b5364;  
    text-align: start;
}

.quantidade {
    font-weight: bold;
    font-size: 1.875rem;
}
/* Galeria de conquistas ate aqui */

section#historia {
    width: 100%;
    margin-top: 1.25rem;
}

.historia-cont {
    padding: 1.875rem 5.625rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.historia-titulo {
    margin-bottom: 1.25rem;
}

.historia-card {
    padding: 1.25rem 2.5rem;
    margin: auto;
    text-align: justify;
    outline: 0.125rem solid #ff0000;
    border-radius: 0.625rem;
}

.historia-card h4 {
    font-size: 1.125rem;
    color: var(--v);
    position: relative;
    padding-top: 0.625rem;
}

.historia-card h4::after {
    content: "";
    display: block;
    width: 3.75rem;
    height: 0.1875rem;
    background-color: var(--v);
    margin-top: 0.5rem;
}

.historia-card p {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: 1.25rem;
}

.historia-conteudo {
    column-count: 2;
    column-gap: 2.5rem;
    padding: 1.25rem 0;
}

.destaque {
    color: var(--v);
    font-weight: bold;
}

/* Rodapé do site */
.rodape {
    background-color: #1A1A1A;
    color: #fff;
    text-align: center;
    padding: 1.25rem;
    margin-top: 3.75rem;
    border-top: 0.3125rem solid red;
    position: absolute;
    width: 100%;
    left: 0;
}

.rodape-conteudo {
    max-width: 25rem;
    margin: 0 auto;
}

/* Responsivo */
@media (max-width: 768px) {
    .historia-cont {
        padding: 1.875rem 1.25rem;
    }
    .historia-conteudo {
        column-count: 1;
    }
    .noticia {
        padding: 1.875rem 1.25rem;
    }
    .noticias-conteudo {
        flex-direction: column;
    }
    .noticia-principal {
        width: calc(100% - 1.25rem);
    }
    .noticia-secundaria {
        width: calc(100% - 1.25rem);
        height: 26.5625rem;
    }
    .jogo-info {
        flex-direction: column;
        gap: 0.625rem;
    }
    .info-antes {
        justify-content: center;
        text-align: center;
    }
    .info-depois {
        justify-content: center;
        text-align: center;
    }
    .conquistas {
        padding: 1.875rem 1.25rem;
    }
    .conquistas-img {
        display: none;
    }
    .titulos-conquistas {
        padding: 0 1.25rem;
    }
    .carrossel-calendario {
        padding: 1.875rem 1.25rem;
    }
    section#calendario {
        display: none;
    }
}